<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分级标准</title>
</head>
<body>
<body bgcolor="#F4F3DE">
<img src="./index/main1.jpg" width="1700" height="730" style="position: absolute; left:0; top:60px"/>
<img src="./index/grade_standard.jpg" width="1050" height="600" style="position: absolute; left:450px; top:130px"/>
<strong style="font-size:40px; font-color:gery; font-family:'KaiTi'; border-radius:10px; position: absolute; left:30px; top:6px">分级标准</strong>
<button onclick="window.location.href = 'login'" style="position: absolute; left:1400px; top:10px; background: #c4caff; border-radius:10px; font-size: 30px; ">用户登录
</button>
<button onclick="window.location.href = 'index'" style="position: absolute; left:1130px; top:10px; background: #c4caff; border-radius:10px; font-size: 30px; ">首页
</button>
<button style="background: #c4caff; border-radius:10px; font-size: 30px; position: absolute; left:1570px; top:10px">注册
</button>
<button onclick="window.location.href = 'standard'" style="position: absolute; left:1230px; top:10px; background: #c4caff; border-radius:10px; font-size:30px; ">测评标准
</button>
<button onclick="window.location.href = 'name_standard'" style="position: absolute; left:140px; top:150px; background: #c4caff; border-radius:10px; font-size:50px; ">命名标准
</button>
<button onclick="window.location.href = 'classify_standard'" style="position: absolute; left:140px; top:300px; background: #c4caff; border-radius:10px; font-size:50px; ">分类标准
</button>
<button onclick="window.location.href = 'safety_standard'" style="position: absolute; left:100px; top:450px; background: #c4caff; border-radius:10px; font-size:50px; ">安全等级标准
</button>
<button onclick="window.location.href = 'grade_standard'" style="position: absolute; left:140px; top:600px; background: #c4caff; border-radius:10px; font-size:50px; ">分级标准
</body>
</html>