<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>在线工业APP分类分级测评平台</title>
</head>
<body bgcolor="#F4F3DE">

<p>
  <img src="./index/main1.jpg" width="1700" height="730" style="position: absolute; left:0; top:60px"/>
  <strong style="font-size:40px; font-color:gery; font-family:'KaiTi'; border-radius:10px; position: absolute; left:30px; top:6px">欢迎您使用本平台</strong>
  <strong style="font-size:70px; border-radius:10px; position: absolute; left:330px; top:350px">在线工业APP分类分级测评平台</strong>
</p>

<button onclick="window.location.href = 'login'" style="position: absolute; left:1400px; top:10px; background: #c4caff; border-radius:10px; font-size: 30px; ">用户登录
</button>
<button onclick="window.location.href = 'index'" style="position: absolute; left:1130px; top:10px; background: #c4caff; border-radius:10px; font-size: 30px; ">首页
</button>
<button style="background: #c4caff; border-radius:10px; font-size: 30px; position: absolute; left:1570px; top:10px">注册
</button>
<button onclick="window.location.href = 'login'" style="position: absolute; left:650px; top:500px; background: #c4caff; border-radius:10px; font-size: 50px; ">专家用户登录
</button>
<button onclick="window.location.href = 'standard'" style="position: absolute; left:1230px; top:10px; background: #c4caff; border-radius:10px; font-size:30px; ">测评标准
</button>

</body>
</html>





















































