<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专家用户登录</title>
</head>

<body bgcolor="#F4F3DE">

<strong style="font-size:40px; font-color:gery; font-family:'KaiTi'; border-radius:10px; position: absolute; left:30px; top:6px">欢迎您使用本平台</strong>
<img src="./index/main1.jpg" width="1700" height="730" style="position: absolute; left:0; top:60px"/>
<button onclick="window.location.href = 'login'" style="position: absolute; left:1400px; top:10px; background: #c4caff; border-radius:10px; font-size: 30px; ">用户登录
</button>
<button onclick="window.location.href = 'index'" style="position: absolute; left:1130px; top:10px; background: #c4caff; border-radius:10px; font-size: 30px; ">首页
</button>
<button style="background: #c4caff; border-radius:10px; font-size: 30px; position: absolute; left:1570px; top:10px">注册
</button>
<button onclick="window.location.href = 'standard'" style="position: absolute; left:1230px; top:10px; background: #c4caff; border-radius:10px; font-size:30px; ">测评标准
</button>
<form action="loginPage" method="post">
<P style="font-size: 40px; position: absolute; left: 420px; top: 200px">专家用户账号：</P>
<P style="font-size: 40px; position: absolute; left: 420px; top: 350px">专家用户密码：</P>
<input type="text" name="name" style="font-size: 40px; position: absolute; left: 700px; top: 235px; width: 400px; height: 50px">
<input type="password" name="password" style="font-size: 40px; position: absolute; left: 700px; top: 400px; width: 400px; height: 50px">
<input type="submit" value="登录" style="font-size: 40px; position: absolute; left: 800px; top: 500px; width:200px; height: 60px; background: #c4caff">
</form>
</body>
</html>